<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <h3 class="text-info">Consumindo apis com Jquery</h3>
    <ul class="list-group" id="autores">

    </ul>

    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script>
    $.ajax({
        url:'http://127.0.0.1:8000/artigos_app/autor/',
        dataType:'json',
        success:function(autores){
            console.log(autores)
            $.each(autores,function(){
                $('#autores').append("<li class='list-group-item'>"+this.nome+"</li>")
                $('#autores').append("<li class='list-group-item'>"+this.endereco+"</li>")
                $('#autores').append("<li class='list-group-item'>"+(this.site === null || this.site == ''?"Não informado":this.site)+"</li>")
                $('#autores').append("<li class='list-group-item'>"+this.email+"</li>")
                $('#autores').append('<br />')
            })
        }
    })

    </script>
</body>
</html>